.about-program h2 {
  text-align: center;
  margin-bottom: 24px;
}

.about-program p {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Fira Sans", "Verdana", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  color: #484848;
}

.about-program p span {
  display: block;
}


.about-program > div {
  display: flex;
  height: 604px;
  background-image: url("../img/about-program-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .about-program > div {
    background-image: url("../img/about-program-desktop@2x.jpg");
  }
}

.about-program a {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 227px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  to {
    opacity: 1;
  }
}

.about-program a:hover svg {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.about-program a:focus {
  outline: 1px solid #1fc0fc;
}

.about-program a:active svg {
  fill: #f4f4f4;
  fill-opacity: 0.5;
}

@media (max-width: 767px) {
  .about-program p {
    max-width: 513px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .about-program p span {
    display: inline;
  }

  .about-program > div {
    margin-top: -45px;
    height: 317px;
    background-image: url("../img/about-program-mobile@1x.jpg");
    background-size: 493px auto;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .about-program > div {
      background-image: url("../img/about-program-mobile@2x.jpg");
      background-size: 493px auto;
    }
  }

  .about-program a {
    margin-top: 173px;
  }

  .about-program a svg {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 320px) {
  .about-program p {
    width: 308px;
  }

  .about-program > div {
    background-image: url("../img/about-program-320@1x.jpg");
    background-size: 320px auto;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .about-program > div {
      background-image: url("../img/about-program-320@2x.jpg");
      background-size: 320px auto;
    }
  }
}
