.blog {
  max-width: 1366px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 57px;
  min-height: 583px;
  padding-top: 120px;
  background-image: url("../img/masaisrael-desktop@1x.jpg");
  background-color: #917989;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1366px auto;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .blog {
    background-image: url("../img/masaisrael-desktop@2x.jpg");
    background-size: 1366px auto;
  }
}

.blog__wrap {
  display: flex;
  flex-direction: column;
  max-width: 395px;
  width: 100%;
  margin-left: 58.5%;
  margin-right: 12.23%;
}

.blog__wrap h2 {
  margin-bottom: 24px;
}

.blog__wrap p {
  margin: 0;
  margin-bottom: 48px;
  font-family: "Fira Sans", "Verdana", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 0.87;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.blog__wrap a {
  position: relative;
  display: block;
  width: 230px;
  min-height: 61px;
  border-radius: 80px;
  padding-top: 20px;
  padding-left: 72px;
  padding-bottom: 21px;
  border: none;
  background-image: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  font-family: "Fira Sans", "Verdana", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.blog__icon {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.blog__wrap a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.blog__wrap a:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #1fc0fc;
}

.blog__wrap a:active {
  background-image: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%),
    linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
}

@media (max-width: 1023px) {
  .blog {
    padding-top: 150px;
  }

  .blog__wrap {
    margin-left: 45%;
    margin-right: 10%;
  }

  .blog__wrap h2 {
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .blog {
    min-height: auto;
    margin-bottom: 80px;
    padding-top: 0;
    background-color: #ffffff;
    background-image: none;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .blog {
      background-color: #ffffff;
      background-image: none;
    }
  }

  .blog__wrap {
    max-width: 767px;
    margin-left: 0;
    margin-right: 0;
  }

  .blog__wrap h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 0;
  }

  .blog__wrap p {
    min-height: 329px;
    margin-top: -4px;
    margin-bottom: 16px;
    padding-top: 150px;
    padding-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 16px;
    line-height: 26px;
    background-image: url("../img/masaisrael-desktop@1x.jpg");
    background-color: #917989;
    background-position: top 0 left 0;
    background-size: 767px auto;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .blog__wrap p {
      background-image: url("../img/masaisrael-desktop@2x.jpg");
      background-size: 767px auto;
    }
  }

  .blog__wrap a {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 89px;
  }

  .blog__icon {
    left: 57px;
  }
}

@media (max-width: 320px) {
  .blog {
    min-height: 391px;
  }


  .blog__wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .blog__wrap p {
    min-height: auto;
    padding-top: 100px;
    padding-left: 7.5%;
    padding-right: 7.8%;
    background-image: url("../img/masaisrael-mobile@1x.jpg");
    background-position: top 0 left -69px;
    background-size: 633px auto;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .blog__wrap p {
      background-image: url("../img/masaisrael-mobile@2x.jpg");
      background-size: 633px auto;
    }
  }
}
