.card {
  display: flex;
  justify-content: start;
  max-width: 1366px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 62px;
  padding-left: 7.17%;
  padding-right: 7.17%;
}

.card__necklace-images {
  display: flex;
  width: 600px;
  margin-right: 8.55%;
  flex-shrink: 0;
}

.card__necklace-images img {
  display: block;
}

.card__images-small {
  display: flex;
  flex-direction: column;
  width: 16.67%;
  margin-right: 5%;
}

.card__image-small + .card__image-small {
  margin-top: 30px;
}

.card__count {
  display: none;
}

.card__cart {
  display: flex;
  flex-direction: column;
  width: 31.62%;
  margin-right: auto;
}

.card__cart h2 {
  margin: 0;
  margin-top: -8px;
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  color: #1d1613;
}

.card__cart h2 + span {
  display: block;
  margin-bottom: 35px;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  color: #1d1613;
}

.card__description {
  margin-bottom: 16px;
}

.card__description span {
  margin-right: 8.9%;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #9b9997;
}

.card__description a {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #1d1613;
  text-decoration: none;
}

.card__specifications {
  width: 100%;
  margin-bottom: 47px;
}

.card__specifications tr td:first-child {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #1d1613;
}

.card__specifications tr td:last-child {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.025em;
}

.card__specifications td {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #f6f5f4;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 68px;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  background-color: #a87b62;
}

.card__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #9b9997;
}

.card__features li {
  margin-right: 7.2%;
}

.card__features li:last-child {
  margin-right: 0;
}

@media (max-width: 1023px) {
  .card {
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 35px;
    padding-left: 5.86%;
    padding-right: 5.86%;
  }

  .card__necklace-images {
    display: flex;
    flex-direction: column;
    width: 319px;
    margin-right: 40px;
    margin-left: auto;
  }

  .card__images-big {
    overflow: hidden;
    width: 319px;
    height: 286px;
    margin-bottom: 14px;
  }

  .card__images-big img {
    width: 319px;
    height: auto;
    margin-top: -10px;
  }

  .card__images-small {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 319px;
    margin-right: 0;
  }

  .card__image-small {
    width: 97px;
    height: 129px;
    margin-right: 14px;
    overflow: hidden;
  }

  .card__image-small img {
    width: 97px;
    height: 129px;
  }

  .card__image-small:nth-child(3n) {
    margin-right: 0;
  }

  .card__image-small + .card__image-small {
    margin-top: 0;
  }

  .card__cart {
    display: flex;
    flex-direction: column;
    width: 319px;
    margin-right: auto;
    flex-shrink: 0;
  }

  .card__cart h2 {
    margin-top: -9px;
  }

  .card__description span {
    margin-right: 9.4%;
  }

  .card__features {
    justify-content: start;
    font-size: 12px;
    line-height: 16px;
  }

  .card__features li {
    margin-right: 7.52%;
  }
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
    width: 290px;
    margin-top: -29px;
    padding-top: 0;
    padding-bottom: 27px;
    padding-left: 0;
    padding-right: 0;
  }

  .card__necklace-images {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .card__images-big {
    position: relative;
    width: 290px;
    height: 260px;
    margin-bottom: 45px;
  }

  .card__images-big img {
    width: 100%;
    height: auto;
  }

  .card__images-small {
    display: none;
  }

  .card__count {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1d1613;
  }

  .card__cart {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .card__cart h2 {
    margin-top: -7px;
    margin-bottom: 12px;
  }

  .card__cart h2 + span {
    display: block;
    margin-bottom: 26px;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    color: #1d1613;
  }

  .card__description span {
    margin-right: 11.5%;
  }

  .card__specifications {
    margin-bottom: 36px;
  }

  .card__button {
    margin-bottom: 12px;
  }

  .card__features {
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    line-height: 16px;
  }

  .card__features li {
    width: 58px;
    text-align: center;
  }
}
