.chjewellery {
  max-width: 1366px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 130px;
  padding-left: 7.16%;
  padding-right: 7.16%;
}

.chjewellery h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #1d1613;
}

.chjewellery a {
  display: block;
  margin-bottom: 63px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #1d1613;
}

.chjewellery__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chjewellery__wrap img {
  display: block;
  width: 100%;
  height: auto;
}

.chjewellery__column {
  display: flex;
  width: auto;
  flex-direction: column;
}

.chjewellery__column div + div {
  margin-top: auto;
}

.chjewellery__column--one {
  width: 19.65%;
}

.chjewellery__column--second {
  width: 34.18%;
}

.chjewellery__column--third {
  width: 19.82%;
}

.chjewellery__column--fourth {
  width: 18.62%;
}

.chjewellery__column--third div + div {
  margin-right: 14px;
}

.chjewellery__column--fourth div + div {
  margin-left: -14px;
}

@media (max-width: 1023px) {
  .chjewellery {
    padding-top: 35px;
    padding-bottom: 80px;
    padding-left: 5.86%;
    padding-right: 5.86%;
  }

  .chjewellery__column--third div + div {
    margin-right: 8px;
  }

  .chjewellery__column--fourth div + div {
    margin-left: -8px;
  }
}

@media (max-width: 767px) {
  .chjewellery {
    padding-top: 33px;
    padding-bottom: 70px;
    padding-left: 4.69%;
    padding-right: 4.69%;
  }

  .chjewellery a {
    margin-bottom: 50px;
  }

  .chjewellery__column--fourth {
    display: none;
  }

  .chjewellery__column--third div + div {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .chjewellery__column--one {
    width: 44.83%;
  }

  .chjewellery__column--one div + div {
    margin-top: 15px;
  }

  .chjewellery__column--second {
    width: 50%;
    overflow: hidden;
  }

  .chjewellery__column--second img {
    min-height: 226px;
    min-width: 218px;
    margin-left: -35px;
  }

  .chjewellery__column--third {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9px;
  }

  .chjewellery__column--third div {
    width: 50%;
    order: 2;
  }

  .chjewellery__column--third div + div {
    width: 44.83%;
    order: 1;
  }
}
