.requirements {
  position: relative;
  max-width: 1366px;
  min-height: 1208px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: -141px;
  padding-top: 200px;
  padding-bottom: 301px;
  padding-left: 0.98%;
  padding-right: 9.59%;
  font-family: "Fira Sans", "Verdana", sans-serif;
  color: #484848;
  opacity: 0.87;
  background-image: url("../img/stamp-desktop@1x.png"), url("../img/how-travel-desktop@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 0 top 410px, top 0 right 0;
  background-size: 216px auto, 1366px auto;
  z-index: -2;
  background-color: #ffffff;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .requirements {
    background-image: url("../img/stamp-desktop@2x.jpg"), url("../img/how-travel-desktop@2x.jpg");
    background-size: 216px auto, 1366px auto;
  }
}

.requirements__wrap-img {
  max-width: 1223px;
  width: 100%;
  min-height: 707px;
  padding-top: 31px;
  padding-left: 55.5%;
  padding-right: 0;
  background-image: url("../img/go-trip-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  background-size: 581px auto;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .requirements__wrap-img {
    background-image: url("../img/go-trip-desktop@2x.png");
    background-size: 581px auto;
  }
}

.requirements__text {
  max-width: 552px;
  width: 100%;
  padding-left: 8px;
}

.requirements__text h2 {
  margin-bottom: 24px;
}

.requirements__text h2 + p {
  max-width: 480px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
}

.requirements__text p + p {
  margin-top: 32px;
  margin-bottom: 24px;
  max-width: 460px;
  width: 100%;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  opacity: 1;
}

.requirements__text ol {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin-left: -5px;
  margin-bottom: 56px;
  list-style: none;
  padding: 0;
  z-index: 0;
}

.requirements__text ol::after {
  position: absolute;
  left: 8px;
  top: 36px;
  content: "";
  height: 192px;
  width: 1;
  border-left: 1px dashed #484848;
  opacity: 0.5;
  z-index: -1;
}

.requirements__text li {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  color: #484848;
  opacity: 0.87;
}

.requirements__text li div {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: -8px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  font-weight: 700;
  line-height: 36px;
  color: #ffc341;
  text-align: center;
  background-color: #ffffff;
  opacity: 1;
}

.requirements__text li + li {
  margin-top: 40px;
}

.requirements__text span {
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.requirements__text ol + p {
  max-width: auto;
  width: 100%;
  padding-left: 14px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  opacity: 0.5;
  border-left: 4px solid #ffc341;
}

@media (max-width: 1023px) {
  .requirements {
    padding-left: 0;
  }

  .requirements__wrap-img {
    background-position: top 0 right 400px;
  }
}

@media (max-width: 767px) {
  .requirements {
    min-height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 79px;
    padding-bottom: 69px;
    padding-right: 5%;
    font-family: "Fira Sans", "Verdana", sans-serif;
    color: #484848;
    opacity: 0.87;
    background-image: url("../img/stamp-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: right 0 top 355px;
    background-size: 216px auto;
    z-index: 0;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .requirements {
      background-image: url("../img/stamp-mobile@2x.jpg");
      background-size: 216px auto;
    }
  }

  .requirements__wrap-img {
    min-height: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .requirements__text {
    width: 288px;
    margin-left: auto;
    padding-left: 0;
  }

  .requirements__text h2 {
    text-align: center;
  }

  .requirements__text h2 + p {
    font-size: 14px;
    line-height: 22px;
  }

  .requirements__text p + p {
    margin-top: 24px;
    font-size: 16px;
    line-height: 26px;
  }

  .requirements__text ol {
    margin-bottom: 37px;
    margin-left: 0;
  }

  .requirements__text ol::after {
    position: absolute;
    height: 241px;
  }

  .requirements__text li {
    position: relative;
    font-size: 14px;
    line-height: 22px;
  }

  .requirements__text li + li {
    margin-top: 56px;
  }

  .requirements__text span {
    left: 44px;
  }

  .requirements__text ol + p {
    margin-left: -6px;
    padding-left: 8px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 320px) {
  .requirements {
    padding-left: 5%;
  }

  .requirements__wrap-img {
    background-image: none;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .requirements__wrap-img {
      background-image: none;
    }
  }

  .requirements__text {
    width: auto;
    margin-left: 0;
  }
}
